.container-5 {
  border: 1px solid black;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2,
.flex-blackjack-row-3 {
  display: flex;
  border: 1px solid black;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-blackjack-row-1 div {
  border: 1px solid black;
  padding: 10px;
  height: 350px;
  width: 350px;
  text-align: center;
  flex: 1;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2 {
  background: url("https://t3.ftcdn.net/jpg/03/25/38/64/360_F_325386410_7XLHgFBmPH10k0GCUXbikWCAeFFC8145.jpg")
    center;
  color: white;
}

.flex-blackjack-row-2 button {
  border: 1px solid black;
}

.flex-blackjack-row-2 div {
  border: 1px solid black;
  padding: 10px;
}

table,
th,
td {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}

.flex-blackjack-row-1 img {
  width: 100px;
  padding: 10px;
}
